<style>

h1 {
	background: <%= @sth %>;
}

body {
	background-image: <%= @image %>;
}

.big_font {
	color: <%= @font_color %>;
}

 </style>

<h1>Emergency Compliments</h1>
<div class="big_font"><%= @message_post %></div>


